.converter-wrapper {
  max-width: 480px;
  width: 100%;
  height: calc(100vh - 70px);
  padding: 0 12px;

  .choose-file-button, .convert-file-button {
    height: 60px !important;

    span {
      font-size: 16px;
      font-weight: 600;
    }
  }
}