:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgb(21, 21, 21);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
    width: 100%;
}

#app {
  width: 100%;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.ant-card {
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.w-full {
    width: 100%;
}

.font-bold {
    font-weight: bold;
}

.mb-6 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mt-4 {
    margin-top: 2rem;
}

.text-lg {
    font-size: 16px;
}

.h-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.justify-content-center {
    justify-content: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.mx-3 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.text-left {
    text-align: start;
}

.ant-notification-notice {
    padding: 12px 14px;

    .ant-notification-notice-message {
        font-size: 14px !important;
        font-weight: bolder;
    }

    .ant-notification-notice-description {
        font-size: 14px;
    }

    .ant-notification-notice-close {
        top: 14px;
    }
}

.text-color-secondary {
    color: #888888 !important;
}

.content-wrapper {
    min-height: calc(100vh - 65px);
    margin-bottom: 3rem;
}

.not-found-wrapper {
    width: 100%;
    height: calc(100vh - 90px);
}