.footer-wrapper {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(5, 5, 5, 0.06);

  .footer-menu {
    justify-content: space-between;
  }

  .footer-content {
    width: 100%;
    padding: 0 10px;

    @media (min-width: 576px) {
      max-width: 540px;
      width: 100%;
    }

    @media (min-width: 768px) {
      max-width: 720px;
      width: 100%;
    }

    @media (min-width: 992px) {
      max-width: 960px;
      width: 100%;

      .menu-item {
        margin-top: 0.25rem;
        margin-right: 3rem;
        text-align: left;
      }
    }

    @media (max-width: 992px) {
      .footer-menu {
        justify-content: center;

        .menu-item {
          margin-top: 0.25rem;
          margin-right: 1rem;
          margin-left: 1rem;
          text-align: left;
        }
      }
    }
  }
}