//.header-wrapper {
//  display: flex;
//  align-items: center;
//  padding: 0 20px;
//  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
//
//  .logo {
//    height: 26px;
//  }
//
//  .ant-menu {
//    margin-left: 40px;
//    height: 100%;
//    border-bottom: none;
//
//    .ant-menu-title-content {
//      font-weight: bolder;
//    }
//  }
//}

.header-wrapper {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  position: relative;

  .logo {
    height: 26px;
  }

  .ant-menu {
    margin-left: 40px;
    height: 100%;
    line-height: 70px;
    border-bottom: none;

    .ant-menu-title-content {
      font-weight: bolder;
    }
  }
}

.desktop-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 1001;

  .bar {
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    margin: 5px 0;
    transition: 0.3s;
  }
}

//.mobile-menu {
//  display: none;
//  position: absolute;
//  top: 100%;
//  left: 0;
//  right: 0;
//  background: white;
//  flex-direction: column;
//  padding: 1rem;
//  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//  z-index: 1000;
//
//  > * {
//    margin: 1rem 0;
//  }
//}


.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  //transform: scaleY(0); /* Початковий стан: складений */
  //transform-origin: top;
  visibility: hidden;
  transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
  //transition: transform 0.3s ease-in-out, opacity .15s ease-in-out;
  opacity: 0;

  > * {
    margin: 1rem 0;
  }
}

.menu-open .mobile-menu {
}

//.mobile-menu {
//  position: absolute;
//  top: 100%;
//  left: 0;
//  right: 0;
//  background: white;
//  flex-direction: column;
//  padding: 0 1rem;
//  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//  z-index: 1000;
//  overflow: hidden;
//  max-height: 0;
//  transition: max-height 0.3s ease-in-out;
//
//  > * {
//    margin: 1rem 0;
//  }
//}

.language-select {
  width: auto;
  min-width: 125px !important;
}

@media (max-width: 1024px) {
  .language-select {
    width: auto;
    min-width: 140px !important;
  }

  .header-wrapper {
    padding: 10px 20px;
    justify-content: space-between;

    .ant-menu {
      border-inline-end: none !important;
      margin-left: 0;
    }
  }

  .desktop-menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .menu-open {
    .mobile-menu {
      overflow: hidden;
      //transform: scaleY(1);
      //opacity: 1;
      opacity: 1;
      visibility: visible;
    }

    .burger-menu .bar:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 5px);
    }

    .burger-menu .bar:nth-child(2) {
      opacity: 0;
    }

    .burger-menu .bar:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -5px);
    }
  }
}