@import "converter/converter";
@import "header";
@import "footer";
@import "requestbar";

#app {
  display: flex;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
}

.ant-btn {
  height: 40px;
}

.ant-select {
  min-width: 100px;
}

.input-60 {
  height: 60px !important;

  span {
    font-size: 16px;
    font-weight: 600;
  }
}

.link-60 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px !important;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #1677ff;

  &:hover {
    color: #69b1ff;
  }
}

.list-unstyled {
  list-style: none;
  padding-left: 0;

  a {
    background-color: transparent;
    color: #1DA079;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      color: #42b983;
    }
  }
}

.success-button {
  background: #1DA079;
  color: aliceblue !important;

  &:hover, &:active, &:focus, &:focus-visible {
    background: #42b983;
    border-color: #42b983 !important;
  }

  &:focus-visible {
    outline: 2px solid rgba(66, 185, 131, 0.59) !important;
  }
}

.container {
  text-align: left;
  padding: 0 12px 30px 12px;

  @media (min-width: 576px) {
    max-width: 540px;
    width: 100%;
  }

  @media (min-width: 768px) {
    max-width: 720px;
    width: 100%;
  }

  @media (min-width: 992px) {
    max-width: 960px;
    width: 100%;
  }
}

.api-link {
  color: #1DA079; /* Цвет бренда */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.api-link:hover {
  color: #168a6b; /* Темнее для hover */
}